button.v1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 4px;
    border: 1px solid #626262;
    background: rgba(167, 167, 167, 0.3);
    box-shadow: -2px 4px 10px rgba(145, 145, 145, 0.05);
    border-radius: 16px;
    color: var(--xtext);
}

button.v1:hover {
    background: rgba(137, 126, 197, 0.72);
    border: 1px solid rgba(81, 33, 143, 0.72);
    box-shadow: 0px 0px 41.5px -5px rgba(137, 126, 197, 0.5);
    border-radius: 16px;
    color: #541fb1;
}

button.v1:active {
    background: rgba(137, 126, 197, 0.72);
    border: 1px solid rgba(81, 33, 143, 0.72);
    box-shadow: 0px 0px 41.5px -5px rgba(137, 126, 197, 0.5);
    border-radius: 16px;
    color: white;
}